@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');


h1, div, span {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
}
h1{
  margin: 22px 10px;
  font-size: 30px;
}

/*#logo {
  height: 60px;
  width: 60px;
}
*/

hr {
  width: 350px;
  align-items: left;
  background-color: rgb(188, 188, 188);
}

.container {
  display: flex;

}

.item{
  float: left; 
  font-size :15px;
}

.itemsName{
  margin: 0px 0px 10px 10px;
}


.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  /* vertical-align:middle; */
  float: right; /* 가로 - 왼쪽으로 */
	justify-content: flex-end; 
  bottom: 5px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 3.5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00462a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00462a;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

p {
	margin:0px;
	display:inline-block;
	font-size:15px;
	font-weight:bold;
}